/* :host === the host element of the shadow === <theme-switch> */
/* See https://developer.mozilla.org/en-US/docs/Web/CSS/:host */
:host {
  display: flex;
  /* To preserve the minification */
  width: var(--dummy-variable, ${ICON_SIZE}px);
  aspect-ratio: 1 / 1;
  /* This is for when the element has padding */
  cursor: pointer;
}

:host([hidden]) { display: none; }

button {
  padding: 0;
  border: none;
  background: transparent;
  display: flex;
  /* The host element also has its cursor set */
  cursor: pointer;
}

#circle { fill: var(--theme-switch-icon-color, ${ICON_COLOR}); }

#rays { stroke: var(--theme-switch-icon-color, ${ICON_COLOR}); }
