@import url("https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/stackoverflow-light.min.css");

html {
  width: 100%;
  height: 100%;
  display: flex;
  background: #fff1a4;
  align-items: center;
  justify-content: center;
  transition: background-color 300ms ease;
  --surface-color: #fff5;
  --surface-color-dark: #fffa;
}

html[data-theme="dark"] {
  background: #a8d8ff;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-block: 32px;
  gap: 64px;
}

theme-switch {
  --theme-switch-icon-color: #121314;
  width: 256px;
}

code {
  display: block;
  padding: 16px !important;
  white-space: pre-wrap;
  background: var(--surface-color) !important;
}

html[data-theme="dark"] code {
  background: var(--surface-color-dark) !important;
}

#code-container {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

#html, #css, #js {
  overflow: auto;
  min-width: 496px;
}

.header {
  font-weight: bold;
  width: 80px;
  padding: 8px 16px;
  border-radius: 14px;
  background-color: var(--surface-color);
  backdrop-filter: blur(10px);
  margin-block-end: 10px;
  border-end-start-radius: 0;
}

html[data-theme="dark"] .header {
  background-color: var(--surface-color-dark);
}

@media screen and (max-width: 1600px) {
  html {
    height: min-content;
  }

  #code-container {
    flex-direction: column;
  }

  .header {
    font-size: 26px;
    width: 180px;
  }

  code {
    white-space: pre-wrap;
  }
}
